/*
 * Globals
 */

/* Links */
:root{
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

html,
body {
  height: 100%;
  background-color: #2c2c33;
  color: white;
  font-size: 14pt;
  font-family: cursive,fantasy,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
h1 {
    margin-top: 15px;
    margin-bottom: 5pt;
    border-bottom: ridge;
    border-bottom-color: white;
    font-size: 18pt;
    width: auto;
    text-align: left;
    text-indent: 10pt;
    

}
h1.bio_h1 {
  margin-top:10px;
  margin-bottom: -10pt;
  color: gold;
}
h2.bio_h2 {
  font-size: small;
  text-align: left;
  text-indent: 10pt;
  color: goldenrod;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  /*background-color: steelblue;*/
  background-color: rgba(23,28,33,0.19);
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(23,28,33,0.19);
  animation-name: divbg;
  animation-duration: 0.4s;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: large;
    font-weight: bold;
    color: #3f8aff;
    border-bottom: 1px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #c6e863;/* #336*/
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


@media (min-width: 768px) {
    .masthead-nav {
        padding-left: 150px;  
        float: left;
    }
 } 

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .project-img {
      max-width: 75%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.project-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.modal-content {
    color: black;
    text-shadow: none;
}

.blue-link {
    color: #000080;
}

a:hover {
    color: inherit
}

.site-wrapper-inner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-column {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-logo {
    filter: invert(100%);
    width: 50%;
}

/*==============================================-----------------*/
.button_1 {   
    border: none;
    border-radius: 40%;
    font-size: large;
    font-weight: bold;
    background-color: rgba(24,24,24,1);
    cursor: pointer;
}
.button_1:hover{
    color: #c6e863;/* #336*/
}
.button_1:active{
    color: #fff;
}

.bio_button_1 {
  border-radius: 20%;
  font-size: small;
}

.alert {
    margin-top: 5px;
    padding: 0 20px;
    font-family: cursive,fantasy;
    color: black;
    text-align: center;
    min-height: 250px;
    height: auto;
    background-color: white;
}
.counter {
    width: auto;
    float: right;
}

footer {
    background-color: rgba(20,20,20,0.5); /*rgba(23,28,33,0.9);*/
    color: #c6e863;
    text-align: center;
    /*font-size: smaller;*/
    font-size: 13px;
    height: 2em;
    margin-bottom: 1em;

}

.logo {
    filter: invert(100%);
    color: white;
    width: 40%;
    border-radius: 50%;
}

.project_icon {
    
  border-radius: 20%;
  
  background-color: black;
  border-bottom: double orange;

  height: 180px;
  width: 180px;
  
  margin-left: 3em;
  /*margin-top: 0.5em;*/
  
  
  /*box-sizing: padding-box;*/
  
  text-align: center;
  /*float: left;*/
  
  cursor: pointer;
}
.changecolor {
  background-color: #2c2c33;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -khtml-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
@keyframes divbg {
  from{
      background-color:#2c2c33 ;
  }
  to {
      /*background-color: black;*/
      background-color: rgba(23,28,33,0.9);
  }
}

.coming-soon{
  color: goldenrod;
  font-size: 11pt;
}
.fixing{
  text-decoration-style: dashed;
  color: firebrick;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
.profile-background-image {
  position: relative;
  width: 100%;
  padding-bottom: 25%;
}

.Elevation-2dp {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
  transition: box-shadow 83ms;
}

.pv-profile-wrapper--below-nav .pv-top-card-section {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.artdeco-container-card:last-child {
  margin-bottom: 0;
}
.pv-top-card-section {
  margin-top: 0;
}
.pv-top-card-section {
  z-index: 1000;
}
.artdeco-container-card {
  word-wrap: break-word;
}
.artdeco-container-card {
  margin: 16px 0;
      margin-top: 16px;
      margin-bottom: 16px;
  padding: 24px;
}
.artdeco-container-card, .right-rail .ad-banner-container {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
  transition: box-shadow 83ms;
}
.artdeco-container-card {
  display: block;
  background-color: #333;
  border-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
  /*position: relative;*/ /*To Allow gotto top icon to show. It was blocking it*/
  list-style: none;
}
.pv-top-card-v2-section__profile-photo-container {
  margin: -116px 0 0 -20px;
}
.pv-top-card-section__profile-photo-container {
  margin: -96px auto 0;
  position: relative;
  width: 200px;
}
.pv-top-card-v2-section__photo-wrapper {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
    opacity: 0.7;
}
.pv-top-card-v2-section__photo-wrapper:hover {
  opacity: 1;
}
.pv-top-card-section__photo-wrapper {
    background-color: #333; /*rgba(243,246,248,.94);*/
    border: 4px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),0 1.5px 3px 0 rgba(0,0,0,.15);
    box-sizing: content-box;
    margin: auto;
    position: relative;
}
.presence-entity--size-9 {
  width: 152px;
  height: 152px;
  top: 4px;
  left: 4px;
}
.presence-entity {
  display: flex;
  position: relative;
}
.pv-top-card-section__photo {
  border-radius: 50%;
  overflow: hidden;
}
.pv-top-card-section__photo, .pv-top-card-section__photo-upload.member-photo-uploader, .pv-top-card-section__photo-upload > .edit-photo-button, .pv-top-card-section__photo-upload > .upload-spinner > li-icon {
  width: 100%;
  height: 100%;
}
.presence-entity__image {
  background-size: cover;
}
.visually-hidden {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.EntityPhoto-circle-9:hover { 
  opacity: 0.7;
}
.EntityPhoto-circle-9:hover {
  opacity: 1;
}

/*=============================================*/
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  filter: invert(100%);
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}
/*===================================================*/