* {
    align-items: center;
    width: auto; 
}

html {
    background-color: #2c2c33;
    color: white;
    font-size: 14pt;
    margin-left: 100px;
    margin-top: 15px;
}

h1 {
    margin-bottom: 5pt;
    border-bottom: ridge;
    border-bottom-color: white;
    font-size: 18pt;
    text-indent: 10pt;
    width: auto;
    margin-left:-100px;

}
h2 {
    color: #c6e863;
    width: auto;
    font-size: 18pt;
    clear: both;
    height: 20px;
}

b {
    color: #144ca0;
}
hr {
    display: block;
    color: white;
    border-width: 1px;
    clear: both;
    border-style: inset;
}

nav {
    margin-bottom: 5pt;
    display: inline-block;
    padding-left: 50px;
    width: auto;
    position: relative;
}

a:hover > button {
    color: #c6e863;/* #336*/
    cursor: pointer;
}
a > .active {
    color: #fff;
    /*text-decoration: underline; */
}

.button_1 {
    color: #3f8aff;
    border: none;
    border-radius: 40%;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(24,24,24,1);
    cursor: pointer;
}
.button_1:hover{
    color: #c6e863;/* #336*/
}
.button_1:active{
    color: #fff;
}

@keyframes divbg {
    from{
        background-color:#2c2c33 ;
    }
    to {
        /*background-color: black;*/
        background-color: rgba(23,28,33,0.9);
    }
}
.costum_container{ /* this class should be used with a div tag*/
    width: auto;
    min-height: 550px;
    height: auto;
    /*max-height: auto; /*451px;*/
    margin-left: -110px;
    margin-right: -7px;
    margin-bottom: -20px;
    
    /*padding: 0px 20% 0px;*/
    background-color: rgba(23,28,33,0.19);
    animation-name: divbg;
    animation-duration: 0.4s;
    text-align: center;
}
.alert {
    padding: 0 20px;
    min-width: 30%;
    font-family: cursive,fantasy;
    font-size: 30px;
    color: black;
    text-align: center;
    min-height: 250px;
    height: auto;
    background-color: white;
}
.bio_article {
    text-align: center;
    background-color: transparent;
    overflow-y: auto;
    max-height: 420px;
    padding-left: 30px;
    padding-right: 30px;
}
/* An <img> class */
.profile_photo {
    position: relative;
    float: left;
	width:211px;
	height:299px;
}

footer {
    /*width: auto;
    min-height: 450px; */
    background-color: rgba(20,20,20,0.5); /*rgba(23,28,33,0.9);*/
    margin-left: -110px;
    margin-right: -7px;
    margin-bottom: -20px;
    margin-top: -20px;
    color: #c6e863;
    text-align: center;
}

p {
    text-align: center;
}
.counter {
    width: auto;
    float: right;
}